/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML ROOT */
html {
  font-size: 62.5%;
  background-color: black;
  color: #EFEFEF;
}

/* BODY LAYOUT */
body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* FONT IMPORT */
@font-face {
  font-family: "body_text";
  src: url("PPNeueMontreal-Book.otf");
}

@font-face {
  font-family: "subtitle_text";
  src: url("PPNeueMontreal-Medium.otf");
}

/* TYPOGRAPHY */
h1 {
  font-family: body_text;
  font-size: 3rem;
  letter-spacing: 0.02em;
  color: #EFEFEF;
  margin-bottom: 3rem;
  text-transform: uppercase;
  margin-left: 2rem;
}

.filter label,
.filter-slider label {
  font-family: subtitle_text;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

.filter-options li {
  font-family: body_text;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

.generate-button {
  font-family: subtitle_text;
  font-size: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #EFEFEF;
  color: #1F1F1F;
  border-radius: 0.5rem;
}

/* INPUT PANEL */
.input-section {
  width: 35rem;
  background-color: #1F1F1F;
  border-radius: 1.5rem;
  padding-top: 2.5rem;
  margin: 2.5rem;
  height: fit-content;
  border: none;

  z-index: 10;
}

#text-input {
  width: 100%;
  min-height: 8rem;
  resize: vertical;
  font-family: body_text;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  color: #EFEFEF;
  background-color: transparent;
  border-top: 0.075rem solid #464646;
  border-bottom: 0.075rem solid #464646;
  border-left: none;
  border-right: none;
  padding: 1.2rem 2rem;
  margin-bottom: 3rem;
  overflow: hidden;
  line-height: 1.6;
}

#text-input::placeholder {
  color: #464646;
}

/* SECTION DIVIDERS */
.section-divider {
  height: 0.075rem;
  background-color: #464646;
  margin: 3rem 0;
  width: 100%;
}

/* FILTER CONTAINER */
.filter {
  background-color: #1F1F1F;
  border: 0.075rem solid #565656;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}

/* FILTER LABELS */
.filter label {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* ARROW ICON */
.filter-arrow {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s ease;
}

.filter-options.open ~ .filter-arrow,
.filter label.open .filter-arrow {
  transform: rotate(180deg);
}

/* DROPDOWN OPTIONS */
.filter-options {
  background-color: #1F1F1F;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.filter-options.open {
  max-height: 50rem;
}

/* OPTION ITEM */
.filter-options li {
  font-family: body_text;
  font-size: 1.6rem;
  font-weight: 400;
  color: #EFEFEF;
  letter-spacing: 0.02em;
  padding: 1.3rem 2rem;
  border-top: 0.075rem solid #565656;
  cursor: pointer;
  transition: background 0.2s;
  background-color: #1F1F1F;
}

.filter-options li:hover,
.filter-options li.selected {
  background-color: #464646;
}

.filter-options li:first-child {
  border-top: 0.075rem solid #565656;
}

/* SLIDERS */
#structure,
#fontsize {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.1rem; /* 1px in rem = 0.1rem */
  background: #EFEFEF;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  margin: 2rem 0;
}

/* THUMB STYLE */
.filter-slider {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#structure::-webkit-slider-thumb,
#fontsize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  background: #1F1F1F;
  border: 0.1rem solid #EFEFEF;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

#structure::-moz-range-thumb,
#fontsize::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  background: #1F1F1F;
  border: 0.075rem solid #EFEFEF;
  border-radius: 50%;
  cursor: pointer;
}

/* MOTION FILTER */

.motion-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #1F1F1F;
  margin-bottom: 3rem;
  font-family: subtitle_text;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

.toggle-switch {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #EFEFEF;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #1F1F1F;
  border: 0.075rem solid #EFEFEF;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  transition: transform 0.3s ease;
}

.toggle-switch[data-state="on"] {
  background-color: #EFEFEF;
}

.toggle-switch[data-state="on"] .toggle-circle {
  transform: translateX(2rem);
}

.toggle-switch[data-state="off"] {
  background-color: #464646;
}

.toggle-switch[data-state="off"] .toggle-circle {
  transform: translateX(0);
}

/* BUTTON */
.generate-button {
  width: 100%;
  margin-top: 3rem;
  padding: 2rem 2rem;
  background-color: #EFEFEF;
  color: #1F1F1F;
  font-family: subtitle_text;
  font-size: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.generate-button .arrow {
  width: 2rem;
  height: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.generate-button:hover .arrow {
  opacity: 1;
}

/* DOWNLOAD BUTTON */

.download-icon-btn {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
}

.download-icon-btn img {
  width: 3.6rem;
  height: 3.6rem;
  transition: transform 0.2s ease;
}

/* OUTPUT PANEL */
.output-section {
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  position: relative;
  overflow: hidden;
  border: 0.075rem solid #EFEFEF;
  will-change: transform;
}

.canvas.square {
  width: 80%;
  max-width: 60%;
  aspect-ratio: 1 / 1;
}

.canvas.landscape {
  width: 90%;
  aspect-ratio: 3 / 2;
}

.canvas.portrait {
  height: 90%;
  aspect-ratio: 2 / 3;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s ease; /* Add this for smooth fade */
  z-index: 10;
}

.loading-overlay.visible {
  opacity: 1;
}

.loading-canvas {
  background-color: black;
  border: 0.1rem solid #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EFEFEF;
  font-family: subtitle_text;
}

.loading-canvas.square {
  width: 60%;
  aspect-ratio: 1 / 1;
}

.loading-canvas.landscape {
  width: 90%;
  aspect-ratio: 3 / 2;
}

.loading-canvas.portrait {
  height: 90%;
  aspect-ratio: 2 / 3;
}

#loading-text {
  font-family: subtitle_text;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #EFEFEF;
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
  color: #EFEFEF;
}

.loading-letter {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

/* TEXT OUTPUT */
.text-copy {
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}

.char {
  display: inline-block;
}

/* BURGER ICON */
#burger-menu {
  display: none;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
}

.burger-icon .bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #EFEFEF;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 900px) {
  .output-section {
    width: 100vw;
  }

  .input-section.mobile-slide {
    width: 35rem;
    margin: 0;
    padding-top: 6rem;
    border-radius: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    height: 100vh;
    overflow-y: scroll;
  }

  .input-section.mobile-slide.open {
    transform: translateX(0);
  }

  .generate-button {
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 2rem;
 
    border-radius: 0;
    position: relative;
  }

  body.menu-open {
    overflow: hidden;
  }

  #burger-menu {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .input-section.mobile-slide {
    width: 100vw;
  }

  .input-section.mobile-slide.open {
    transform: translateX(0);
  }
}